Q1. Program to add, subtract, multiply and divide two pre-defined numbers.

In [1]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation +,-,*,/: ")

result = 0
if ch == '+':
    result = num1 + num2
elif ch == '-':
    result = num1 - num2
elif ch == '*':
    result = num1 * num2
elif ch == '/':
    result = num1 / num2
else:
    print("Input character is not recognized!")

print(num1, ch , num2, ":", result)

Enter First Number: 1
Enter Second Number: 2
Enter which operation would you like to perform?
Enter any of these char for specific operation +,-,*,/: +
1 + 2 : 3

Q2. Program to perform floor division between two pre-defined numbers.

In [2]:
a = 10
b = 3

print(a//b)  # 3

a = -10
b = -3

print(a//b)  # 3

a = 10
b = -3
print(a//b)  # -4

a = -10
b = 3
print(a//b)  # -4

3
3
-4
-4

Q3. Program to find remainder of division between two pre-defined numbers.

In [3]:
n=10
m=2

r = n%m
print("Remainder", r)

Remainder 0

Q4. Program to print the table of 5 without using loop.

In [6]:
def printNos(n):
    if n > 0:
        printNos(n - 1)
        print(n, end = ' ')
 
# Driver code
printNos(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Q5. Program to find type of variable.

In [7]:
a = 12
print(type(a))

a = 1000000000
print(type(a))

a = 'Hello World!'
print(type(a))

a = '3.14159'
print(type(a).__name__)

<class 'int'>
<class 'int'>
<class 'str'>
str

Q6. Program to use sep and end in print function.

In [8]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')
 
print('prtk','agarwal', sep='', end='@')
print('omprakash kumar')

GFG
09-12-2016
prtkagarwal@omprakash kumar

Q7. Program to add, subtract, multiply and divide two user-defined numbers.

In [ ]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation +,-,*,/: ")

result = 0
if ch == '+':
    result = num1 + num2
elif ch == '-':
    result = num1 - num2
elif ch == '*':
    result = num1 * num2
elif ch == '/':
    result = num1 / num2
else:
    print("Input character is not recognized!")

print(num1, ch , num2, ":", result)


Q8. Program to get name and age from user and then print it.

In [10]:
name = input("Enter your name: ") # user input
current_age = int(input("Enter your age: ")) # user input
#calculating the 100th year, considering 2020 as the current year
print("name",name )
print("age",current_age)

Enter your name: we
Enter your age: 12
name we
age 12

Q9. Program to find Area of Circle where user enters radius.

In [ ]:
π = 3.14  
Radius = float (input ("Please enter the radius of the given circle: "))  
area_of_the_circle = π * Radius * Radius  
print (" The area of the given circle is: ", area_of_the_circle)

Q10. Program to find Area of Square where user enters length of side.

In [12]:
side = int(input("Enter the side of squre"))
Area = side*side
print("Area of the square="+str(Area))

Enter the side of squre2
Area of the square=4

Q11. Program to find Area of Rectangle where user enters Length and Breadth.

In [14]:
 #Write a Program to find the Area of a Rectangle and 
# Perimeter of a Rectangle in Python

w = float(input('Please Enter the Width of a Rectangle: '))
h = float(input('Please Enter the Height of a Rectangle: '))

# calculate the area
Area = w * h

# calculate the Perimeter
Perimeter = 2 * (w + h)

print("\n Area of a Rectangle is: %.2f" %Area)
print(" Perimeter of Rectangle is: %.2f" %Perimeter)

Please Enter the Width of a Rectangle: 2
Please Enter the Height of a Rectangle: 3

 Area of a Rectangle is: 6.00
 Perimeter of Rectangle is: 10.00

Q12. Program to print many lines from one variable

In [15]:
#You can use \n to create a carriage return.
print("first line\nSecond line")

#Or use the following syntax to replace the commas with \n
#to create carriage returns for each line.

print("first line", "second line", sep="\n")

#Or use triple quotation marks at the start and end of 
#the text and format the text how you want it to appear.

print("""
Line1
Line2
""")

first line
Second line
first line
second line

Line1
Line2

Q13. Program to implement all Arithmetic Operators

In [16]:
# Store input numbers:  
num1 = input('Enter first number: ')  
num2 = input('Enter second number: ')  
  
# Add two numbers  
sum = float(num1) + float(num2)  
# Subtract two numbers  
min = float(num1) - float(num2)  
# Multiply two numbers  
mul = float(num1) * float(num2)  
#Divide two numbers  
div = float(num1) / float(num2)  
# Display the sum  
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))  
  
# Display the subtraction  
print('The subtraction of {0} and {1} is {2}'.format(num1, num2, min))  
# Display the multiplication  
print('The multiplication of {0} and {1} is {2}'.format(num1, num2, mul))  
# Display the division  
print('The division of {0} and {1} is {2}'.format(num1, num2, div))

Enter first number: 23
Enter second number: 23
The sum of 23 and 23 is 46.0
The subtraction of 23 and 23 is 0.0
The multiplication of 23 and 23 is 529.0
The division of 23 and 23 is 1.0

Q14. Program to implement all Comparison Operators

In [17]:

a = 21
b = 10
c = 0

if ( a == b ):
   print ("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

if ( a  > b ):
   print ("Line 3 - a is not equal to b")
else:
   print ("Line 3 - a is equal to b")

if ( a < b ):
   print ("Line 4 - a is less than b") 
else:
   print ("Line 4 - a is not less than b")

if ( a > b ):
   print ("Line 5 - a is greater than b")
else:
   print ("Line 5 - a is not greater than b")

a = 5;
b = 20;
if ( a <= b ):
   print ("Line 6 - a is either less than or equal to  b")
else:
   print ("Line 6 - a is neither less than nor equal to  b")

if ( b >= a ):
   print ("Line 7 - b is either greater than  or equal to b")
else:
   print ("Line 7 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 3 - a is not equal to b
Line 4 - a is not less than b
Line 5 - a is greater than b
Line 6 - a is either less than or equal to  b
Line 7 - b is either greater than  or equal to b

Q15. Program to implement Augmented or Assignment Operators

In [19]:
# Subtraction
a = 23
b = 3
a -= b
print('Subtraction = %d' %(a))

# Multiplication
a = 23
b = 3
a *= b
print('Multiplication = %d' %(a))

# Division
a = 23
b = 3
a /= b
print('Division = %f' %(a))


# Remainder or Modulo
a = 23
b = 3
a %= b
print('Remainder or Modulo = %d' %(a))

Subtraction = 20
Multiplication = 69
Division = 7.666667
Remainder or Modulo = 2

Q16. Program to implement Logical Operators

In [ ]:
a= 12
b = 26
c = 4
  
if a > b and a > c: 
    print("Number a is larger") 
  
if b > a and b > c: 
    print("Number b is larger") 
  
if c > a and c > b:    
    print("Number c is larger")

Q17. Program to implement Bitwise Operators

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Q18. Program to implement Unary Operators

In [23]:
print(+3)

print (-4)
print (-4.0)

print (3*2)
print (3.0*5.0)

3
-4
-4.0
6
15.0

Q19. Program to print address of a variable

In [ ]:
a = [1, 2, 3, 4, 5]
print(id(a))
  
# get id of a variable
a = 12
print(id(a))
  
# get id of tuple
a = (1, 2, 3, 4, 5)
print(id(a))
  
# get id of a dictionary
a = {'a' : 1, 'b' : 2}
print(id(a))

Q20. Program to use TypeCast

In [ ]:
# Python program to demonstrate
# implicit type Casting
 
# Python automatically converts
# a to int
a = 7
print(type(a))
 
# Python automatically converts
# b to float
b = 3.0
print(type(b))
 
# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))
 
# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

Q21. Program to use simple if/else statement

In [24]:
 
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

Q22. Program to compare two numbers

In [25]:
num1=int(input("Number 1 : "))
num2=int(input("Number 1 : "))
if num1>num2:
    print("Number1 is greater than Number2")
elif num1<num2:
    print("Number1 is less than Number2")
else:
    print("Number1 is equal to Number2")

Number 1 : 2
Number 1 : 4
Number1 is less than Number2

Q23. Program to find if given number is even or odd

In [27]:
num = int(input("Enter a number:"))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number:3
3 is Odd

Q24. Program to accept three numbers from user and find maximum of three
numbers

In [28]:
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest
  
  
# Driven code 
a = input("enter first number")
b = input("enter second  number")
c = input("enter third number")
print(maximum(a, b, c))

14

Q25. Program to input three numbers from user and calculate the sum of non-
repeating numbers

In [ ]:
def findSum(arr, n):
    s = set()
    sum = 0
 
    # Hash to store all element
    # of array
    for i in range(n):
        if arr[i] not in s:
            s.add(arr[i])
    for i in s:
        sum = sum + i
 
    return sum
 
# Driver code
arr = [1, 2, 3, 1, 1, 4, 5, 6]
n = len(arr)
print(findSum(arr, n))

Q26. Program to make a Menu Driven Program to find Ares of different Shapes

In [ ]:
def calculate_area(name):\
   
  # converting all characters
  # into lower cases
  name = name.lower()
   
  # check for the conditions
  if name == "rectangle":
    l = int(input("Enter rectangle's length: "))
    b = int(input("Enter rectangle's breadth: "))
     
    # calculate area of rectangle
    rect_area = l * b
    print(f"The area of rectangle is{rect_area}.")
   
  elif name == "square":
    s = int(input("Enter square's side length: "))
       
    # calculate area of square
    sqt_area = s * s
    print(f"The area of square is
          {sqt_area}.")
 
  elif name == "triangle":
    h = int(input("Enter triangle's height length: "))
    b = int(input("Enter triangle's breadth length: "))
       
    # calculate area of triangle
    tri_area = 0.5 * b * h
    print(f"The area of triangle is
          {tri_area}.")
 
  elif name == "circle":
    r = int(input("Enter circle's radius length: "))
    pi = 3.14
         
    # calculate area of circle
    circ_area = pi * r * r
    print(f"The area of triangle is
          {circ_area}.")
         
  elif name == 'parallelogram':
    b = int(input("Enter parallelogram's base length: "))
    h = int(input("Enter parallelogram's height length: "))
     
    # calculate area of parallelogram
    para_area = b * h
    print(f"The area of parallelogram is
          {para_area}.")
     
  else:
    print("Sorry! This shape is not available")
 
# driver code
if __name__ == "__main__" :
   
  print("Calculate Shape Area")
  shape_name = input("Enter the name of shape whose area you want to find: ")
   
  # function calling
  calculate_area(shape_name)

Q27. Program to make a Menu Driven Program to take an Arithmetic Operator
from user and display the result

In [30]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 2
Enter second number: 1
2.0 + 1.0 = 3.0
Let's do next calculation? (yes/no): no

Q28. Program to use is operator

In [ ]:
a = 10
b = 20
c = a
 
print(a is not b)
print(a is c)

Q29. Program to print first five natural numbers without using range function
with the help of for loop

In [ ]:
def printNos(n):
    if n > 0:
        printNos(n - 1)
        print(n, end = ' ')
 
# Driver code
printNos(5)

Q30. Program to print first five numbers using range function with the help of
for loop

In [32]:
a=int(input("number"))
for i in range(a):
  print(i)

number4
0
1
2
3

Q31. Sum of 10 natural numbers

In [ ]:
# Sum of natural numbers up to num

num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Q32. Sum of n natural numbers

In [ ]:
num = int(input("Enter natural number"))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Q33. Print n natural numbers

In [33]:
n=int(input("Enter how many number you want to print"))
for i in range(n):
  print(i+1)

Enter how many number you want to print10
1
2
3
4
5
6
7
8
9
10

Q34. Program to reverse a given number

In [ ]:
Number = int(input("Please Enter any Number: "))    
Reverse = 0    
while(Number > 0):    
    Reminder = Number %10    
    Reverse = (Reverse *10) + Reminder    
    Number = Number //10    
     
print("\n Reverse of entered number is = %d" %Reverse)

Q35. Program to find Factorial

In [ ]:
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Q36. Program to find a Palindrome number

In [34]:
num = input("Enter a number")
if num == num[::-1]:
    print("Yes its a palindrome")
else:
    print("No, its not a palindrome")

Enter a number121
Yes its a palindrome

Q37. Program to use break and continue

In [ ]:
number = 1 #Number is initially 1
  
while True : #This means the loop will continue infinite time
        print (number) #print the number
        number+=2 #calculate next odd number
  
        # Now give the breaking condition
        if number > 10:
                break;
                #Breaks the loop if number is greater than ten
                print (number) #This statement won't be executed

In [ ]:
numbers = range(1,11)
'''
the range(a,b) function creates a list of number 1 to (b-1)
So, in this case it would generate
numbers from 1 to 10
'''
for number in numbers:
        #check the skipping condition
        if number == 7:
                #this statement will be executed
                print("7 is skipped")
                continue
                #this statement won't be executed
                print ("This won't be printed")
  
        #print the values
        #for example:
        #2 is double of 1
        print (number*2),
        print ("is double of"),
        print (number

Q38. Program to find Fibonacci Series

In [ ]:
n_terms = int(input ("How many terms the user wants to print? "))  
  
# First two terms  
n_1 = 0  
n_2 = 1  
count = 0  
  
# Now, we will check if the number of terms is valid or not  
if n_terms <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  
# if there is only one term, it will return n_1  
elif n_terms == 1:  
    print ("The Fibonacci sequence of the numbers up to", n_terms, ": ")  
    print(n_1)  
# Then we will generate Fibonacci sequence of number  
else:  
    print ("The fibonacci sequence of the numbers is:")  
    while count < n_terms:  
        print(n_1)  
        nth = n_1 + n_2  
       # At last, we will update values  
        n_1 = n_2  
        n_2 = nth  
        count += 1

Q39. Program to count digits in a number

In [ ]:
num = 3452
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Q40. Program to Sort numbers in ascending order

In [ ]:
numbers = [1, 3, 4, 2]
  
# Sorting list of Integers in ascending
numbers.sort()
  
print(numbers)

Q41. Print Table using loop

In [35]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 2
Multiplication Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Q42. python Write a program to enter number from user until -1 is encountered and also count the number of positive, negative and zeroes entered by users

In [ ]:
# list of numbers
list1 = [10, -21, 4, -45, 66, -93, 1]
  
pos_count, neg_count = 0, 0
  
# iterating each number in list
for num in list1:
      
    # checking condition
    if num >= 0:
        pos_count += 1
  
    else:
        neg_count += 1
          
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)
Output:

Positive numbers in the list:  4
Negative numbers in the list:  3
 

Example #2: Using while loop

# Python program to count positive and negative numbers in a List
  
# list of numbers
list1 = [-10, -21, -4, -45, -66, 93, 11]
  
pos_count, neg_count = 0, 0
num = 0
  
# using while loop     
while(num < len(list1)):
      
    # checking condition
    if list1[num] >= 0:
        pos_count += 1
    else:
        neg_count += 1
      
    # increment num 
    num += 1
      
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)

44

In [37]:
 n=int(input("Enter the number of rows: ")) 
 for i in range(1,n+1): 
  print("* "*n)

Enter the number of rows: 3
* * *
* * *
* * *

45

In [39]:
n=int(input("Enter the number of rows: ")) 
for i in range(1,n+1): 
  for j in range(1,n+1): 
    print(i,end=" ") 
    print()

Enter the number of rows: 5
1
1
1
1
1
2
2
2
2
2
3
3
3
3
3
4
4
4
4
4
5
5
5
5
5

46

In [41]:
rows = 6

for num in range(rows):

    for i in range(num):

        print(num, end=” “) # print number

    # line after each row to display pattern correctly

    print(” “)

SyntaxError: ignored